.contain {
	background-color: #DFF0E2;
	padding: 9px;
}

.container {
	padding: 9px;
	background-color: #afeadc;
}

.blockything {
	background-color: #cfffe5;
	padding: 9px;
}

.down3 {
	background-color: #3eb489;
	padding: 9px;
}

.down4 {
	background-color: #137a63;
	padding: 9px;
}

.down5 {
	background-color: #0a3a2a;
	padding: 9px;
}

.down6 {
	background-color: #933a16;
	padding: 9px;
}

.comments {
	background-color: #afeadc;
	color: #041e42;
	padding: 9px;
	margin: 10px;
	border-radius: 15px;
	font-family: "Courier New", Courier, monospace;
}

.highlight {
	background-color: #cfb997;
	padding: 3px;
}

h1 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: #041e42;
}

ul {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #041e42;
	list-style-type:none;
}

li:before {
	content: '\1f433';
	margin-left:-15px;
	margin-right: 10px;
}

.video {
	display: block;
	width: auto;
	margin: 0 auto;
}

#picturedescription {
	background-color: red;
	width: auto;

}

h2 {
	text-align: center;
}


h3 {
	text-align: center;
	color: #041e42;
}

#picturediv {
	background-color: #d9f1f1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#birb {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#garydos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#Greninja {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}


#pikachonk {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}


#shiny {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#footer {
	clear: both;
	padding: 40px;
	background-color: #95524c;
	color: #b3e8ff;
	text-align: center;
}